#container {
    background-color: white;
}

p {
    padding-left: 50px;
}
#content {
    position: absolute;
    left: 100px;
    top: 100px;
    width: 550px;
    height: 100px;
    border: none;
    display: flex;
    align-items: center;
    border-radius: 5px;
    display: none;
}
div {
    position: relative;
    background-color: white;
}

#exit {
    position: absolute;
    left: 510px;
    top: 10px;
    border: none;
    background: none;
    font-size: 20px;
}